body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#chat-messages {
    min-height: 10vh;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

.chat-container {
    display: flex;
}

.chat-container .message {
    flex-basis: 0;
    flex-grow: 1;
    padding: 5px 15px;
}

.message span {
    float: right;
    color: #8e8989;
    font-size: x-small;
    padding-top: 5px;
}